.post-title {
    font-size : 0.9rem;
}

.post-body {
    font-size: 0.8rem;
}

.post-footer {
    font-size: 0.7rem;
}
.border-radius-none {
    border-radius: 0;
}

.text-bold {
    font-weight: 700;
}