.post-title {
    font-size: 0.9rem;

    &::first-letter {
        text-transform: uppercase;
    }
}


.post-body {
    font-size: 0.7rem;

    &::first-letter {
        text-transform: uppercase;
    }
}


.post-footer {
    font-size: 0.7rem;
}

.border-radius-none {
    border-radius: 0;
}

.text-bold {
    font-weight: 700;
}