.comment-text {
    h4 {
        font-size: 0.7rem;
        font-weight: 600;
    }
    p {
        font-size: 0.7rem;
        &::first-letter {
            text-transform: uppercase;
        }
    }

}